envman
fish
iterm2
valet
omf
hub

github-copilot/hosts.json
configstore/update-notifier-zapier-platform-cli.json
configstore/update-notifier-zapier-platform-core.json
tags
.vim
coc
mps-youtube/config.json
mps-youtube/input_history
mps-youtube/play_history.m3u
mps-youtube/cache_py_3.10.
mps-youtube/transcode